body {
  margin: 0;
  padding: 0;
}

section {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333;
}

h1 {
  color: #333;
}

.feedback {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

/* form.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
} */

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: #333;
}

.email-label {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.email-title {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  color: #2e2f42;
}

.message-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

input,
textarea {
  width: 100%;
  padding: 10px;

  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
